<header>
	<section class="hero">
		<div class="texture-overlay"></div>
		<div class="container">
			<div class="row nav-wrapper">
				<div class="col-md-8 col-sm-8 col-xs-8 text-left">
					<a href="#" class="logo-text"><div class="logo-image"></div>Shane Church</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-right navicon">
					<p class="menu-label">MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" ng-click="navToggle()"><span></span></a>
					<div class="overlay overlay-boxify">
						<nav>
							<ul>
								<li><a ng-href="/resume.pdf" ng-click="navToggle()"><i class="fa fa-file-pdf-o"></i>Resumé</a></li>
								<li><a ng-href="/Blog"><i class="fa fa-book" ng-click="navToggle()"></i>Blog</a></li>
							</ul>
							<ul>
								<li><a ng-href="/PhotoAlbum" ng-click="navToggle()"><i class="fa fa-camera-retro"></i>Photo Album</a></li>
								<li><a ng-href="/Software" ng-click="navToggle()"><i class="fa fa-laptop"></i>Software</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="row hero-content">
				<div class="col-md-12">
					<h1 class="animated fadeInDown">Father, Software Developer, Colorado Rockies Fan</h1>
					<a href="/Blog" class="primary-btn animated fadeInUp">Blog</a> <a href="#" scroll-to="features" class="primary-btn animated fadeInUp">Learn more <i class="fa fa-arrow-down"></i></a>
				</div>
			</div>
		</div>
	</section>
</header>
<section class="features-intro">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 nopadding featured-blog-section-img">
				<div class="featured-blog-section-bg">
					<div class="texture-overlay"></div>
					<div class="featured-blog-section-title" waypoint waypoint-classes="animated fadeInLeft" waypoint-offset="75%">
						<span><h2>Latest Blog Posts</h2></span>
					</div>
				</div>
			</div>
			<div class="col-md-8 nopadding">
				<div class="features-slider">
					<ul class="slides" flickity="{{ { 'cellAlign': 'left', 'contain': true, 'prevNextButtons': false } }}">
						<li ng-repeat="entry in blogEntries">
							<h3>{{ entry.Title }}</h3>
							<h4>{{ entry.EntryDate | date : 'MMMM d, yyyy h:mm a' }}</h4>
							<p>{{ entry.Entry }}</p>
							<p><a href ng-click="value = entry.Id" class="arrow-btn">Read more <i class="fa fa-long-arrow-right"></i></a></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features-list" id="features">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4 feature-1" waypoint waypoint-classes="animated fadeInDown" waypoint-offset="75%">
					<div class="feature-icon">
						<i class="fa fa-desktop"></i>
					</div>
					<div class="feature-content">
						<h1>Responsive</h1>
						<p>Built using HTML5/CSS3 and jQuery, and built using one of the world's most powerful CSS frameworks available, Bootstrap.</p>
						<a href="http://tympanus.net/codrops/?p=22554" class="tertiary-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
					</div>
				</div>
				<div class="col-md-4 feature-2 delay-05s" waypoint waypoint-classes="animated fadeInDown" waypoint-offset="75%">
					<div class="feature-icon">
						<i class="fa fa-flash"></i>
					</div>
					<div class="feature-content">
						<h1>Multi-Purpose</h1>
						<p>Perfect if you run your own start-up, product or service. Boxify can showcase your business converting your visits to income.</p>
						<a href="http://tympanus.net/codrops/?p=22554" class="tertiary-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
					</div>
				</div>
				<div class="col-md-4 feature-3 delay-1s" waypoint waypoint-classes="animated fadeInDown" waypoint-offset="75%">
					<div class="feature-icon">
						<i class="fa fa-heart"></i>
					</div>
					<div class="feature-content">
						<h1>Absolutely Free</h1>
						<p>As aways, download Boxify for free exclusively from Codrops. If you love Boxify and want to thank me, simply <a href="http://peterfinlan.com/">buy me a beer</a>. </p>
						<a href="http://tympanus.net/codrops/?p=22554" class="tertiary-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="showcase">
	<div class="showcase-wrap">
		<div class="texture-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="device" waypoint waypoint-classes="animated bounceInDown" waypoint-offset="75%">
						<div class="device-content">
							<div class="showcase-slider">
								<ul class="slides" id="showcaseSlider" flickity="{{ { 'cellAlign': 'left', 'contain': true,	'prevNextButtons': false,	'imagesLoaded': true } }}">
									<li>
										<img src="img/screen1.jpg" alt="Device Content Image">
									</li>
									<li>
										<img src="img/screen2.jpg" alt="Device Content Image">
									</li>
									<li>
										<img src="img/screen3.jpg" alt="Device Content Image">
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h1>Showcase your Product or Service</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					<blockquote class="team-quote">
						<div class="avatar"><img src="../img/avatar.png" alt="User Avatar"></div>
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc." - Peter Finlan</p>
						<div class="logo-quote">
							<a href="http://tympanus.net/codrops/"><img src="img/codrops-logo.png" alt="Codrops Logo"></a>
						</div>
					</blockquote>
					<a href="http://tympanus.net/codrops/?p=22554" class="secondary-btn">Download! <i class="fa fa-download"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="photos-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Photo Album</h1>
			</div>
		</div>
	</div>
</section>
<section class="photos" id="photos">
	<div class="container-fluid">
		<div class="row">
			<ul class="grid">
				<li>
					<figure>
						<img src="img/01-screenshot.jpg" alt="Screenshot 01">
						<figcaption>
							<div class="caption-content">
								<a href="img/large/01.jpg" class="single_image" fancybox="{{ { padding: 4 } }}">
									<i class="fa fa-search"></i><br>
									<p>Optimised For Design</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/02-screenshot.jpg" alt="Screenshot 01">
						<figcaption>
							<div class="caption-content">
								<a href="img/large/02.jpg" class="single_image" fancybox="{{ { padding: 4 } }}">
									<i class="fa fa-search"></i><br>
									<p>User Centric Design</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/03-screenshot.jpg" alt="Screenshot 01">
						<figcaption>
							<div class="caption-content">
								<a href="img/large/03.jpg" class="single_image" fancybox="{{ { padding: 4 } }}">
									<i class="fa fa-search"></i><br>
									<p>Responsive and Adaptive</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/04-screenshot.jpg" alt="Screenshot 01">
						<figcaption>
							<div class="caption-content">
								<a href="img/large/04.jpg" class="single_image" fancybox="{{ { padding: 4 } }}">
									<i class="fa fa-search"></i><br>
									<p>Absolutely Free</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="grid">
				<li>
					<figure>
						<img src="img/05-screenshot.jpg" alt="Screenshot 01">
						<figcaption>
							<div class="caption-content">
								<a href="img/large/05.jpg" class="single_image" fancybox="{{ { padding: 4 } }}">
									<i class="fa fa-search"></i><br>
									<p>Multi-Purpose Design</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/06-screenshot.jpg" alt="Screenshot 01">
						<figcaption>
							<div class="caption-content">
								<a href="img/large/06.jpg" class="single_image" fancybox="{{ { padding: 4 } }}">
									<i class="fa fa-search"></i><br>
									<p>Exclusive to Codrops</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/07-screenshot.jpg" alt="Screenshot 01">
						<figcaption>
							<div class="caption-content">
								<a href="img/large/07.jpg" class="single_image" fancybox="{{ { padding: 4 } }}">
									<i class="fa fa-search"></i><br>
									<p>Made with Love</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/08-screenshot.jpg" alt="Screenshot 01">
						<figcaption>
							<div class="caption-content">
								<a href="img/large/08.jpg" class="single_image" fancybox="{{ { padding: 4 } }}">
									<i class="fa fa-search"></i><br>
									<p>In Sydney, Australia</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="download" id="download">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center" waypoint waypoint-classes="animated fadeInDown" waypoint-offset="75%">
				<h1>Seen Enough?</h1>
				<a href="http://tympanus.net/codrops/?p=22554" class="secondary-btn">Download! <i class="fa fa-download"></i></a>
			</div>
		</div>
	</div>
</section>