<!-- Generic Modal container -->
<div class="container-modal" id="modal-generic">
	<div class="top">
		<h3>Title</h3>
		<div class="button-close"><a href="#" class="blank">Close</a></div>
	</div>
	<div class="modal-padding">
		<div class="modal-content">
			<!--Content goes here-->
		</div>
	</div>
	<div class="modal-bottom">&nbsp;</div>
</div>
		
<!-- Modal background -->
<div id="modal-background">&nbsp;</div>