<div class="container-modal" id="modal-view-photo">
	<a class="blank close" href="#"></a>
		<div class="photo-content-container">
		<div class="image">
			<img src="" alt="" />
		</div>
		<div class="caption">
			<h4></h4>
			<h5></h5>
		</div>
	</div>
</div>
@Html.Partial("ModalUserControl")