<?xml version="1.0" encoding="utf-8"?>
<MonitoringSettings xmlns="http://schemas.microsoft.com/MicrosoftMonitoringAgent/2013/Apm/CollectionPlan">
	<ServerAnalytics enabled="true">
		<!-- Replace ApplicationInsightsId with the application key you got from the Application Insights service. -->
		<ApplicationInsightsId>a7eab16c-ca96-440e-b975-da3c4b746fda</ApplicationInsightsId>
		<DataUploadIntervalInMinutes>1</DataUploadIntervalInMinutes>
		<AutoFillClientPropertiesFromRequest>true</AutoFillClientPropertiesFromRequest>
		<CollectClientIPAddress>true</CollectClientIPAddress>
	</ServerAnalytics>
</MonitoringSettings>