<?xml version="1.0" encoding="utf-8"?>
<MonitoringSettings xmlns="http://schemas.microsoft.com/MicrosoftMonitoringAgent/2013/Apm/CollectionPlan">
	<ServerAnalytics enabled="true">
		<!-- Replace ApplicationInsightsId with the application key you got from the Application Insights service. -->
		<ApplicationInsightsId>00000000-0000-0000-0000-000000000000</ApplicationInsightsId>
		<DataUploadIntervalInMinutes>1</DataUploadIntervalInMinutes>
		<AutoFillClientPropertiesFromRequest>true</AutoFillClientPropertiesFromRequest>
		<CollectClientIPAddress>true</CollectClientIPAddress>
	</ServerAnalytics>
</MonitoringSettings>